@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
section{
  height: calc(100vh - 130px);
  position: relative;
}
.admin-title{
  padding: 15px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
.main-section{
  height: 500px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
}
.cube{
  border: 1px solid lightgray;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  transition: all 0.5s ease-out;
}
.cube .icon i,
.number {
  font-size: 40px;
}
.cube:hover{
  height: 215px;
  width: 305px;
  transition: all 0.5s ease-in;
}
a{ text-decoration: none;}