@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* overflow: hidden; */
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 160px);
}
.main-form{
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 350px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}
.admin-title{
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
}
.icon {
  text-align: center;
  margin-bottom: 10px;
}
.icon i {
  font-size: 50px;
  margin: 15px 0;
}
#email, #password{
  padding: 8px;
  width: 95%;
  margin-bottom: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid lightgray;
}
form{
  width: 100%;
}
.link-forget{
  text-align: right;
  margin: 10px 0;
}
.link-forget a {
  text-decoration: none;
  color: rgb(116, 114, 189);
}
.btn-sbt button{
  width: 100%;
  padding: 9px 0;
  border-radius: 5px;
  border: none;
  background: rgb(116, 114, 189);
  color: white;
  font-weight: 500;
  transition: all 0.3s ease-in;
}
button:hover{
  color: rgb(116, 114, 189);
  background: white;
  border: 1px solid rgb(116, 114, 189);
  transition: all 0.3s ease-out;
}