@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background: rgb(171, 202, 247); */
}
#adminViewBook{
  height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.book-left{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 1;
  position: relative;
  margin-top: 15px;
  margin-left: 50px;
}
.book-inventory{
  display: flex;
  border: 1px solid silver;
  width: 90%;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  
}
.book-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.book-details .book-title{
  font-size: 20px;
  font-weight: 500;
}
/* .book-details .issue-detail{
  background: black;
  color: white;
  border-radius: 5px;
  border: none;
  width: 45%;
  text-align: center; 
} */
.subheader-flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
  align-items: center;
  margin-right: 150px;
}
.subheader-flex .inventory{
  font-size:20px ;
  font-weight: 500;
  margin-left: 10%;
}
.search-bar{
  width: 40%;
  padding: 5px;
  position: relative;
}
.search-bar input{
  width: 75%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  position: relative;
}
/* .search-bar span{
  position: absolute;
  bottom: 16px;
  right: 13px;
  border: 1px solid lightgray;
  padding: 4px 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: rgb(247, 245, 245);
} */
.book-grid{
  width: 100%;
  display: grid;
  grid-template-columns: 600px 600px;
  /* flex-direction: column; */
  /* align-items: center; */
  overflow: auto;
  margin-left: 100px;
}
.admin-title{
  padding: 15px;
  border-bottom: 1px solid lightgray;
  text-align: left;
  width: 100%;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book-btn{
  display: flex;
  width: 350px;
  text-align: center;
}
/* .book-btn .issue-detail{
  width: 30%;
  border: 1px solid black;
  text-align: center;
  border-radius: 3px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
} */
.book-btn div button{
    padding: 5px 12px;
    border-radius: 3px;
    border: none;
}
.book-btn .issue-book button{
  background: slateblue;
  color: white;
  font-weight:500 ;
  font-size: 15px;
  margin-left: 7px;
}
.book-btn .issue-update button{
  background: green;
  color: white;
  font-weight:500 ;
  font-size: 15px;
  margin-left: 7px;
}
.book-btn .issue-delete button{
  background: darkred;
  color: white;
  font-weight:500 ;
  font-size: 15px;
  margin-left: 7px;
  cursor: pointer;
}
.book-btn .issue-detail{
  background: black;
  color: white;
  font-weight:500 ;
  font-size: 15px;
}


.modal2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;/*it's like line height*/
  width: 450px;
  padding: 1rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  left: 30%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  cursor: pointer;
}
.overlay2{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.modal2 .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}

.modal2 form input,
.modal2 form select {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
  outline: none;
}
.modal2 form input[type="submit"]{
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
  outline: none;
  font-weight: 500;
  background: red;
  color: white;
}
.modal2 form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.btn-close {
  transform: translate(5px, -10px);
  padding: 0.2rem 0.5rem;
  background: #eee;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.modal2{
  z-index: 1000;
}

.btn-close2 {
  transform: translate(5px, -10px);
  padding: 0.2rem 0.5rem;
  background: #eee;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.hidden2{
  display: none;
}
