@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background: rgb(171, 202, 247); */
}
header{
  display: flex;
  justify-content: space-between;
  padding: 6px;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  height: 30px;
  width: 30px;
}
.logo span{
  font-size: 25px;
  color: slateblue;
}
.back-btn a{
  color: white;
  background: slateblue;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in;
  text-decoration: none;
}
.back-btn a:hover{
  color: slateblue;
  background: white;
  border: 1px solid slateblue;
  transition: all 0.3s ease-out;
}
#adminBook{
  height: calc(100vh - 130px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.book-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-left: 800px;
  flex: 1;
  position: relative;
}
.book-inventory{
  display: flex;
  border: 1px solid silver;
  width: 80%;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  
}
.book-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.book-details .book-title{
  font-size: 20px;
  font-weight: 500;
}
.book-action{
  display: flex;
  width: 30%;
  justify-content: space-around;
}
.book-update a{
  padding: 0 5px;
  border-radius: 3px;
  background: green;
  color: white;
}
.book-delete a{
  padding: 0 5px;
  border-radius: 3px;
  background: red;
  color: white;
}
.book-details .issue-detail{
  background: black;
  color: white;
  border-radius: 5px;
  border: none;
  width: 45%;
  text-align: center;
}
.book-form{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  /* position: fixed; */
  box-sizing: border-box;
  margin-top: 110px;
}
.book-form .detail-title{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.detail-image{
  text-align: center;
  margin: 15px 0;
}
.detail-image img{
  height: 50px;
  width: 50px;
}
form{
  width: 100%;
  text-align: center;
  height: 100%;
}
form input[type="file"]{
  border: 1px solid lightgray;
  width: 40%;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0;
}
.book-id-name input{
  border: 1px solid lightgray;
  padding: 5px;
  width: 40%;
  outline: none;
  border-radius: 3px;
  margin: 8px 0;
}
.book-author-genre input{
  width: 40%;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
  margin: 8px 0;
}
.book-author-genre select{
  width: 41%;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
  margin: 8px 0;
}
.book-date-name input{
  width: 40%;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
  margin: 10px 0;
}
.book-description textarea{
  width: 83%;
  height: 60px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin: 10px 0;
}
.book-button{
  display: flex;
  justify-content: space-evenly;
}
.book-button input{
  padding: 7px 15px;
  width: 20%;
  border-radius: 3px;
  color: white;
  border: none;
}
#add-submit{
  background: blue;
}
#edit-submit{
  background: green;
}
#delete-submit{
  background: red;
}
.subheader-flex{
  display: flex;
  justify-content: space-between;
  width: 82%;
  padding: 2px;
  align-items: center;
}
.subheader-flex .inventory{
  font-size:20px ;
  font-weight: 500;
}
.search-bar{
  width: 50%;
  padding: 5px;
  position: relative;
}
.search-bar input{
  width: 90%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid lightgray;
  outline: none;
  position: relative;
}
.search-bar span{
  position: absolute;
  bottom: 16px;
  right: 13px;
  border: 1px solid lightgray;
  padding: 4px 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: rgb(247, 245, 245);
}
.book-grid{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
.pseudo-book #pseudo{
  width: 83%;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
}
.input-file{
  display: flex;
  justify-content: center;
  width: 85%;
  margin-left: 49px;
}
.input-file div{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 95%;
  margin-left: 10px;
}
div input[type="file"]{
  width: 95%;
}