@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background: rgb(171, 202, 247); */
}
header{
  display: flex;
  justify-content: space-between;
  padding: 6px;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img{
  height: 30px;
  width: 30px;
}
.logo span{
  font-size: 25px;
  color: slateblue;
}
.back-btn a{
  color: white;
  background: slateblue;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in;
  text-decoration: none;
}
.back-btn a:hover{
  color: slateblue;
  background: white;
  border: 1px solid slateblue;
  transition: all 0.3s ease-out;
}
section{
  height: calc(100vh - 65px);
  display: flex;
  margin-top: 60px;
}
.left-section{
  border: 1px solid lightgray;
  padding: 15px;
  margin-left: 30px;
  border-radius: 10px;
  height: 75%;
  margin-top: 20px;
  position: fixed;
  box-sizing: border-box;
}
.left-section form{
  line-height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
}
#title, #year, #category{
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 3px;
  outline: none;
  margin-bottom: 10px;
}
.sbt-btn #search{
  padding: 7px 10px;
  color: white;
  background: slateblue;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in;
}
.sbt-btn #search:hover{
  color: slateblue;
  background: white;
  border: 1px solid slateblue;
  transition: all 0.3s ease-out;
}
.right-section{
  margin-top: 20px;
  position: relative;
  width: 50%;
  overflow-y: auto;
  flex: 1;
  margin-left: 250px;
}
.right-section .grid-book{
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px ;
  row-gap: 20px;
  justify-content: space-around;
  position: relative;
  padding: 5px 0;
}
.book{
  position: relative;
  border: 1px solid lightgray;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  width: 150px;
}
.book img{
  border-radius: 10px;
  width: 130px;
  height: 170px;
  position: relative;
}
.book .plus i{
  color: slateblue;
  position: absolute;
  top: 170px;
  right: 0;
}
.heart {
  color: white;
  font-size: 15px; /* Adjust size as needed */
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 3px 7px;
  text-shadow: 
        1px 1px 0 black, 
       -1px 1px 0 black, 
        1px -1px 0 black, 
       -1px -1px 0 black;
}

.heart.active {
  color: red;
}

.heart.inactive {
  color: white;
}
.book .book-author{
  color: lightgray;
}
.grid-book a{
  text-decoration: none;
  color: black;
}
label[for="Category"]{
  padding: 2px 0;
}
