@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
section{
  height: calc(100vh - 130px);
  position: relative;
}
.issued-title{
  padding: 15px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* tr:nth-child(even) {
  background-color: #dddddd;
} */
td a{
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: white;
  background: green;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
td a:hover{
  background: white;
  color: green;
  border: 1px solid green;
  transition: all 0.3s ease-out;
}
.modal-footer button{
  color: white;
  padding: 5px 10px;
  background: darkred;
  border-radius: 3px;
  border: none;
  transition: all 0.3s ease-in;
}
.modal-footer button:hover{
  color: darkred;
  padding: 5px 10px;
  background: white;
  border-radius: 3px;
  border: 1px solid darkred;
  transition: all 0.3s ease-out;
}