@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background: rgb(171, 202, 247); */
}
section{
  height: calc(100vh - 90px);
}
.request-title{
  padding: 15px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 5px;
}
.main-request{
  height: 90%;
}
.main-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.note-input{
  display: flex;
  margin: 10px 0;
}
.note-input textarea{
  padding: 5px;
  outline: none;
  border-radius: 3;
  border: 1px solid lightgray;
}
.title-input{
  display: flex;
}
.title-input label{
  margin-right: 20px;
}
.note-input label{
  margin-right: 55px;
}
.title-input input{
  width: 69%;
  outline: none;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid lightgray;
}
form{
  width: 60%;
  display: flex;
  flex-direction: column;
}
.sbt-request{
  display: flex;
  width: 82%;
  justify-content: flex-end;
}
.sbt-request input{
  padding: 9px 20px;
  background: blue;
  color: white;
  font-weight: 500;
  border-radius: 3px;
  border: none;
}
.view-request{
  height: 340px;
  margin-top: 60px;
}
table{
  border-collapse: collapse;
  width: 100%;
}
td, th{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
/* tr:nth-child(even){background: lightgray} */


.modal2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;/*it's like line height*/
  width: 450px;
  padding: 1rem;
  min-height: 170px;
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  cursor: pointer;
}
.overlay2{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.modal2 .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}

.modal2 form input,
.modal2 form select {
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
  outline: none;
}
.modal2 form input[type="submit"]{
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
  outline: none;
  font-weight: 500;
  background: red;
  color: white;
}
.modal2 form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.btn-close {
  transform: translate(5px, -10px);
  padding: 0.2rem 0.5rem;
  background: #eee;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.modal2{
  z-index: 1000;
}

.btn-close2 {
  transform: translate(5px, -10px);
  padding: 0.2rem 0.5rem;
  background: #eee;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.hidden2{
  display: none;
}