<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/sidebar.css">
  <link rel="stylesheet" href="/style/adminCategory.css">
  <!-- <link rel="stylesheet" href="/js/bootstrap.bundle.min.js"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <!-- <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div> -->
      <img src="/images/boy.png" alt="">
      <div class="username">Mouslim Ombadi</div>
    </div>
  </header>
  <main>
    
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username">Mouslim Ombadi</div>
      </div>
      <div class="navbar">
        <ul>
          <li><a href="/adminDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
          <li><a href="/adminCategory"><i class="fa-solid fa-folder-open"></i><span>Category</span></a></li>
          <li><a href="/adminAuthor"><i class="fa-solid fa-book-bookmark"></i><span>Author</span></a></li>
          <li><a href="/adminIssued"><i class="fa-solid fa-pen-to-square"></i></i><span>Issued Books</span></a></li>
          <li><a href="/adminViewBook"><i class="fa-solid fa-street-view"></i><span>View Books</span></a></li>
          <li><a href="/adminBooks"><i class="fa-regular fa-circle"></i><span>Add Books</span></a></li>
          <li><a href="/regStudent"><i class="fa-solid fa-person-chalkboard"></i><span>Students</span></a></li>
          <li><a href="/adminViewRequest"><i class="fa-solid fa-magnifying-glass-chart"></i><span>View Request Book Data</span></a></li>
          <li><a href="/adminChange"><i class="fa-solid fa-lock"></i><span>Change Password</span></a></li>
          <li><a href="/logoutAdmin"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
        </ul>
      </div>
    </div>
    
<section id="adminDash">
  <div class="admin-title">
     <div class="category-title">MANAGE CATEGORY</div>
     <!-- <div class="category-btn">
       <button class="btn"><i class="fa-solid fa-plus"></i> New Category</button>
     </div> -->
  </div>
  <div class="main-category">
     <div class="category-searchbar">
        <input type="text" placeholder="Search">
     </div>
     <div class="category-list">
         <table>
           <tr>
             <th>#</th>
             <th>Name</th>
             <th>Status</th>
             <th>Action</th>
           </tr>
           <%if(typeof book !== undefined && book.length > 0){%>
            <%for(var i = 0; i < book.length ; i++){%>
                <tr>
                  <td><%= i %></td>
                  <td class="category"><%= book[i].category %></td>
                  <td><span class="status">Active</span></td>
                  <td>
                    <button class="btn btn-open">Edit</button>
                    <span class="btn btn-delete"><i class="fa-solid fa-trash"></i></span>
                  </td>
                </tr>
           <%}}%>
         </table>

     </div>
  </div>
  <!-- This is the update form modal -->
  <div class="modal hidden" id="modalOpen">
    <div class="flex">
       <h2>Update Category</h2>
       <button class="btn-close">&times;</button>
    </div>
    <form action="">
      <input type="text" id="category-id" placeholder="ID" readonly>
      <input type="text" id="category-name" placeholder="New Category">
      <!-- <input type="date"> -->
      <!-- <select name="status" id="status">
         <option value="available">Available</option>
         <option value="not-available">Not Available</option>
      </select> -->
      <input type="submit" value="Update">
    </form>
  </div>
  <div class="overlay hidden"></div>

  <!-- This is the delete form modal -->
  <div class="modal2 hidden2">
    <div class="flex">
       <h2>Delete Category</h2>
       <button class="btn-close2">&times;</button>
    </div>
    <form action="">
      <input type="text" placeholder="ID">
      <input type="text" placeholder="Category To Delete">
      <input type="submit" value="Delete">
    </form>
  </div>
  <div class="overlay2 hidden2"></div>


</section>

  </main>
  
  <script>
     $(document).ready(() => {
      $('.status').each(function () {
        if ($(this).text().trim() === 'Active') {
          $(this).addClass('active');
        } else if ($(this).text().trim() === 'Inactive') {
          $(this).addClass('inactive');
        }
      });

      const modal2 = $('.modal2')
      const modal = $('.modal')
      const overlay = $('.overlay')
      const overlay2 = $('.overlay2')
      const openModalBtn = $('.btn-open')
      const openModalBtn2 = $('.btn-delete')
      const closeModalBtn = $('.btn-close')
      const closeModalBtn2 = $('.btn-close2')

      const openModal = function(){
        modal.removeClass('hidden')
        overlay.removeClass('hidden')

        let parentTr = $(this).closest('tr')
        const Searchcategory = parentTr.find('.category')
        const category = Searchcategory.text()
        $.ajax({
          url: `/category/${category}`,
          type: 'GET',
          success: function(response){
              $('#category-id').val(response._id);
              $('#category-name').val(response.category);
          },
          error: function (xhr, status, error) {
            console.error(`Error: ${error}`);
          }
        })
      }

      openModalBtn.on('click', openModal)

      const openModal2 = function(){
        modal2.removeClass('hidden2')
        overlay2.removeClass('hidden2')
      }

      openModalBtn2.on('click', openModal2)

      const closeModal = function(){
        modal.addClass('hidden')
        overlay.addClass('hidden')
      }

      closeModalBtn.on('click', closeModal)

      const closeModal2 = function(){
        modal2.addClass('hidden2')
        overlay2.addClass('hidden2')
      }

      closeModalBtn2.on('click', closeModal2)
      overlay.on('click', closeModal); 
     });
  </script>
</body>
</html>