<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/sidebar.css">
  <link rel="stylesheet" href="/style/adminBorrowBook.css">
  <!-- <link rel="stylesheet" href="/js/bootstrap.bundle.min.js"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <!-- <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div> -->
      <img src="/images/boy.png" alt="">
      <div class="username">Mr Librarian</div>
    </div>
  </header>
  <main>
    
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username">Mr Librarian</div>
      </div>
      <div class="navbar">
        <ul>
          <li><a href="/admin/adminDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
          <li><a href="/admin/adminCategory"><i class="fa-solid fa-folder-open"></i><span>Category</span></a></li>
          <li><a href="/admin/adminAuthor"><i class="fa-solid fa-book-bookmark"></i><span>Author</span></a></li>
          <li><a href="/admin/adminIssued"><i class="fa-solid fa-pen-to-square"></i></i><span>View All Issued Books</span></a></li>
          <li><a href="/admin/adminViewBook"><i class="fa-solid fa-street-view"></i><span>View Books</span></a></li>
          <li><a href="/admin/adminBooks"><i class="fa-regular fa-circle"></i><span>Add Books</span></a></li>
          <li><a href="/admin/regStudent"><i class="fa-solid fa-person-chalkboard"></i><span>Students</span></a></li>
          <li><a href="/admin/adminViewRequest"><i class="fa-solid fa-magnifying-glass-chart"></i><span>View Request Book Data</span></a></li>
          <li><a href="/admin/adminChange"><i class="fa-solid fa-lock"></i><span>Change Password</span></a></li>
          <li><a href="/logoutAdmin"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
        </ul>
      </div>
    </div>
    
<section id="adminBorrowBook">
  <div class="admin-title">
     <div class="borrow-title">ISSUE A BOOK TO STUDENT</div>
  </div>
  <div class="main-borrow">
     <form id="borrowForm">
        <h2>Issue Form</h2>
        <input type="text" placeholder="Book ID" name="bookId" id="bookId">
        <input type="text" placeholder="Book Title" name="bookTitle" id="bookTitle">
        <input type="text" placeholder="Student name" name="name" id="name">
        <input type="text" placeholder="Student CNE" name="cne" id="cne">
        <input type="date" placeholder="Issue date" name="issueDate" id="issueDate">
        <input type="date" placeholder="Due date" name="dueDate" id="dueDate">
        
        <div class="btn-submit">
            <input type="submit" value="Issue">
        </div>
     </form>
  </div>
</section>

  </main>
  
  <script> </script>
</body>
</html>