<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/sidebar.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/adminDash.css">
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <!-- <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div> -->
      <img src="/images/boy.png" alt="">
      <div class="username"><%= librarian.name %></div>
    </div>
  </header>
  <main>
    
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username"><%= librarian.name %></div>
      </div>
      <div class="navbar">
        <ul>
          <li><a href="/adminDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
          <li><a href="/adminCategory"><i class="fa-solid fa-folder-open"></i><span>Category</span></a></li>
          <li><a href="/adminAuthor"><i class="fa-solid fa-book-bookmark"></i><span>Author</span></a></li>
          <li><a href="/adminIssued"><i class="fa-solid fa-pen-to-square"></i></i><span>Issued Books</span></a></li>
          <li><a href="/adminViewBook"><i class="fa-solid fa-street-view"></i><span>View Books</span></a></li>
          <li><a href="/adminBooks"><i class="fa-regular fa-circle"></i><span>Add Books</span></a></li>
          <li><a href="/regStudent"><i class="fa-solid fa-person-chalkboard"></i><span>Students</span></a></li>
          <li><a href="/adminViewRequest"><i class="fa-solid fa-magnifying-glass-chart"></i><span>View Request Book Data</span></a></li>
          <li><a href="/adminChange"><i class="fa-solid fa-lock"></i><span>Change Password</span></a></li>
          <li><a href="/logoutAdmin"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
        </ul>
      </div>
    </div>
    
<section id="adminDash">
  <div class="admin-title">ADMIN DASHBOARD</div>
  <div class="main-section">
      <a class="cube" href="/adminBooks">
        <div class="icon" ><i class="fa-solid fa-book-open" style="color: #385170;"></i></div>
        <div class="number" style="color: #385170;">0</div>
        <div class="info" style="color: #385170;">Books</div>
      </a>
     <a class="cube" href="/adminIssued">
      <div class="icon"><i class="fa-solid fa-bars" style="color: silver;"></i></div>
      <div class="number" style="color: silver;">0</div>
      <div class="info" style="color: silver;">Issue Books</div>
     </a>
    <a class="cube" href=".adminReturn">
      <div class="icon"><i class="fa-solid fa-recycle" style="color: #facf5a;"></i></div>
      <div class="number" style="color: #facf5a;">0</div>
      <div class="info" style="color: #facf5a;">Not return Books</div>
    </a>
    <a class="cube" href="/adminStudents">
      <div class="icon"><i class="fa-solid fa-users" style="color: green"></i></div>
      <div class="number" style="color: green">0</div>
      <div class="info" style="color: green">Students</div>
    </a>
    <a class="cube" href="/adminAuthor">
        <div class="icon"><i class="fa-solid fa-user-pen" style="color: brown;"></i></div>
        <div class="number" style="color: brown;">0</div>
        <div class="info" style="color: brown;">Authors</div>
    </a>
   
    <a class="cube" href="/adminCategory">
      <div class="icon"><i class="fa-solid fa-file-zipper" style="color: burlywood;"></i></div>
      <div class="number" style="color: burlywood;">0</div>
      <div class="info" style="color: burlywood;">Categories</div>
    </a>
  </div>
</section>
  </main>
  
</body>
</html>