<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/sidebar.css">
  <link rel="stylesheet" href="/style/adminBook.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div>
      <img src="/images/boy.png" alt="">
      <div class="username">Mouslim Ombadi</div>
    </div>
  </header>
  <main>
    
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username">Mouslim Ombadi</div>
      </div>
      <div class="navbar">
         <ul>
           <li><a href="/adminDash"><i class="fa-solid fa-house"></i>Dashboard</a></li>
           <li><a href="/adminCategory"><i class="fa-solid fa-folder-open"></i>Category</a></li>
           <li><a href="/adminAuthor"><i class="fa-solid fa-book-bookmark"></i>Author</a></li>
           <li><a href="/adminIssued"><i class="fa-solid fa-pen-to-square"></i></i>Issued Books</a></li>
           <li><a href="/adminViewBook"><i class="fa-solid fa-lock"></i>View Books</a></li>
           <li><a href="/adminBooks"><i class="fa-solid fa-lock"></i>Add Books</a></li>
           <li><a href="/regStudent"><i class="fa-solid fa-person-chalkboard"></i>Students</a></li>
           <li><a href="/adminChange"><i class="fa-solid fa-lock"></i>Change Password</a></li>
           <li><a href="/"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
         </ul>
      </div>
    </div>
    
 <section id="adminBook">
  <div class="book-form">
     <div class="detail-title">Book Details</div>
     <div class="detail-image"><img src="/images/books.png" alt=""></div>
     <form action="" enctype="multipart/form-data">
       <div class="input-file">
        <div>
          <label for="img-book">Upload Book Img</label>
          <input type="file">
        </div>
        <div>
          <label for="pdf-book">Upload Book PDF</label>
          <input type="file">
        </div>
        
      </div>
       <div class="book-id-name">
         <input type="text" placeholder="Book Id" id="bookid"> 
         <input type="text" placeholder="Book Title" id="name"> 
       </div>
       <div class="book-author-genre">
          <input type="text" placeholder="Author name" id="author"> 
          <select name="" id="category" aria-placeholder="Fantasy">
            <option value="Techology">Technology</option>
            <option value="Fiction">Fiction</option>
            <option value="Science">Science</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Religion">Religion</option>
          </select>
      </div>
      <div class="book-date-name">
         <input type="date"  id="publishDate">
         <input type="text" placeholder="Publisher" id="publishName">
      </div>
      <div class="pseudo-book">
        <input type="text" placeholder="Pseudo" id="pseudo">
        <select name="available" id="available">
          <option value="available">Available</option>
          <option value="not-available">Not Available</option>
        </select>
      </div>
      <div class="book-description">
         <textarea name="description" id="description" placeholder="Book description"></textarea>
      </div>
      <div class="book-button">
          <input type="submit" value="Add" id="add-submit">
          <input type="submit" value="Edit" id="edit-submit">
          <input type="submit" value="Delete" id="delete-submit">
      </div>
     </form>
  </div>
  
</section>
  </main>
  
</body>
</html>