<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Book page</title>
  <link rel="stylesheet" href="/style/adminBook.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
  <!-- This is the header section -->
  <header>
    <div class="logo"><span>B</span><img src="/images/book-eyes.png"><span>K</span></div>
    <form class="search-bar"><input type="text" id="search-bar" placeholder="Search"><span><i class="fa-solid fa-magnifying-glass"></i></span></form>
    <div class="back-btn"><a href="/adminDash">BACK</a></div>
  </header>
  <div class="subheader">
    <div class="subheader-flex">
      <div class="inventory">Book Inventory</div>
      <div class="display-modal"><button>Add Book <i class="fa-solid fa-plus"></i></button></div> 
    </div>
  </div>
  <section id="adminBook">
    <div class="book-inventory">
      <div class="book-details">
         <div class="book-title">Batman : Dark Knight</div>
         <div class="book-ID">ID : <strong>2356pklg</strong></div>
         <div class="book-author">Author : <strong>Huge Jackman</strong></div>
         <div class="book-category">Category : <strong>Fiction</strong></div>
         <div class="issue-detail">Not Issued</div>
         <div class="book-action">
          <div class="book-update"><i class="fa-solid fa-pen-to-square"></i></div>
          <div class="book-delete"><i class="fa-solid fa-trash"></i></div>
         </div>
      </div>
      <div class="book-image">
        <img src="/books/batman.jpeg" alt="">
      </div>  
  </div>

  <div class="book-inventory">
    <div class="book-details">
       <div class="book-title">Batman : Dark Knight</div>
       <div class="book-ID">ID : <strong>2356pklg</strong></div>
       <div class="book-author">Author : <strong>Huge Jackman</strong></div>
       <div class="book-category">Category : <strong>Fiction</strong></div>
       <div class="issue-detail">Not Issued</div>
       <div class="book-action">
        <div class="book-update"><i class="fa-solid fa-pen-to-square"></i></div>
        <div class="book-delete"><i class="fa-solid fa-trash"></i></div>
       </div>
    </div>
    <div class="book-image">
      <img src="/books/batman.jpeg" alt="">
    </div>  
</div>
  </section>
</body>
</html>