<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/sidebar.css">
  <link rel="stylesheet" href="/style/adminIssue.css">
  <!-- <link rel="stylesheet" href="/js/bootstrap.bundle.min.js"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div>
      <img src="/images/boy.png" alt="">
      <div class="username">Mouslim Ombadi</div>
    </div>
  </header>
  <main>
    
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username">Mouslim Ombadi</div>
      </div>
      <div class="navbar">
        <ul>
          <li><a href="/adminDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
          <li><a href="/adminCategory"><i class="fa-solid fa-folder-open"></i><span>Category</span></a></li>
          <li><a href="/adminAuthor"><i class="fa-solid fa-book-bookmark"></i><span>Author</span></a></li>
          <li><a href="/adminIssued"><i class="fa-solid fa-pen-to-square"></i></i><span>Issued Books</span></a></li>
          <li><a href="/adminViewBook"><i class="fa-solid fa-street-view"></i><span>View Books</span></a></li>
          <li><a href="/adminBooks"><i class="fa-regular fa-circle"></i><span>Add Books</span></a></li>
          <li><a href="/regStudent"><i class="fa-solid fa-person-chalkboard"></i><span>Students</span></a></li>
          <li><a href="/adminViewRequest"><i class="fa-solid fa-magnifying-glass-chart"></i><span>View Request Book Data</span></a></li>
          <li><a href="/adminChange"><i class="fa-solid fa-lock"></i><span>Change Password</span></a></li>
          <li><a href="/logoutAdmin"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
        </ul>
      </div>
    </div>
    
<section id="adminDash">
  <div class="admin-title">
     <div class="category-title">MANAGE ISSUE BOOKS</div>
  </div>
  <div class="main-category">
     <div class="category-searchbar">
        <input type="text" placeholder="Search Book">
     </div>
     <div class="category-list">
         <table>
           <tr>
             <th>Book ID</th>
             <th>Book Title</th>
             <th>Student ID</th>
             <th>Student Name</th>
             <th>Issue Date</th>
             <th>Due Date</th>
             <th>Action</th>
           </tr>
           <tr>
             <td>0782</td>
             <td>Batman</td>
             <td>2klpg</td>
             <td>Mouslim Ombadi</td>
             <td>2024-11-17</td>
             <td>2024-11-24</td>
             <td>
              <span class="btn btn-open">Prevent</span>
            </td>
           </tr>
           <tr>
            <td>0782</td>
            <td>Batman</td>
            <td>2klpg</td>
            <td>Mouslim Ombadi</td>
            <td>2024-11-17</td>
            <td>2024-11-24</td>
            <td>
             <span class="btn btn-open">Prevent</span>
           </td>
          </tr>
          <tr>
            <td>0782</td>
            <td>Batman</td>
            <td>2klpg</td>
            <td>Mouslim Ombadi</td>
            <td>2024-11-17</td>
            <td>2024-11-24</td>
            <td>
             <span class="btn btn-open">Prevent</span>
           </td>
          </tr>
         </table>
     </div>
  </div>
  <!-- This is the prevent user form modal -->
  <div class="modal hidden">
    <div class="flex">
       <h2>Prevent User</h2>
       <button class="btn-close">&times;</button>
    </div>
    <form action="">
      <input type="email" placeholder="kevinjames@gmail.com">
      <textarea name="message" id="message" placeholder="Book Issued(The dark knight) to you needs to be return"></textarea>
      <input type="submit" value="Send">
    </form>
  </div>
  <div class="overlay hidden"></div>
</section>
  </main>
  
  <script>
    $(document).ready(() => {
     
     const modal = $('.modal')
     const overlay = $('.overlay')
     const openModalBtn = $('.btn-open')
     const closeModalBtn = $('.btn-close')

     const openModal = function(){
       modal.removeClass('hidden')
       overlay.removeClass('hidden')
     }

     openModalBtn.on('click', openModal)

     const closeModal = function(){
       modal.addClass('hidden')
       overlay.addClass('hidden')
     }

     closeModalBtn.on('click', closeModal)

     
    });
 </script>
</body>
</html>