<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Head Info</title>
  <link rel="stylesheet" href="/style/headInfo.css">
</head>
<body>
   <!-- This is the header section -->
 <header>
  <div class="logo"><span>B</span><img src="/images/book-eyes.png"><span>K</span></div>
  <div class="back-btn"><a href="/userBooks">BACK</a></div>
</header>
</body>
</html>