<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header Dash</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> 
  <link rel="stylesheet" href="/style/headerDash.css">
</head>
<body>
  <header>
      <div class="title">
        <span class="book-icon"><i class="fa-solid fa-book"></i></span>
        <span class="name-project">Online Library Management System</span>
        <div class="log-out"><a href="/">LOG ME OUT</a></div>
      </div>
      <div class="navbar">
         <ul>
            <li><a href="/userDash">DASHBOARD</a></li>
            <li><a href="/userIssued">ISSUED BOOKS</a></li>
            <li><a href="/userBooks">BOOKS</a></li>
            <li><a href="/userChange">CHANGE PASSWORD</a></li>
         </ul>
      </div>
  </header>
</body>
</html>