<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> 
  <link rel="stylesheet" href="/style/header.css">
</head>
<body>
  <header>
      <div class="title">
        <span class="book-icon"><i class="fa-solid fa-book"></i></span>
        <span class="name-project">Online Library Management System</span>
      </div>
      <div class="navbar">
         <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/userSignup">USER SIGNUP</a></li>
            <li><a href="/userLogin">USER LOGIN</a></li>
            <li><a href="/adminLogin" class="adminLogin">ADMIN LOGIN</a></li>
         </ul>
      </div>
  </header>
</body>
</html>