<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/style/home.css">
</head>
<body>
<!-- This is the header -->
 <%- include('header') %>
<!-- This is the section page -->
 <section id="home">
    <div class="presentation">
       <div class="presentation-title">Online Library</div>
       <div class="presentation-text">
         Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Doloribus magnam similique facilis neque voluptatem
       </div>
       <div class="presentation-btn">
         <button>Get started</button>
       </div>
    </div>
 </section>
</body>
</html>