<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Preview Page</title>
  <link rel="stylesheet" href="/style/previewBook.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
 <!-- This is the header section -->
 <header>
  <div class="logo"><span>B</span><img src="/images/book-eyes.png"><span>K</span></div>
  <div class="back-btn"><a href="/userBooks">BACK</a></div>
</header>

<section id="previewBook">
  <div class="issued-form">
     <div><img src="/books/batman.jpeg" alt=""></div>
     <form action="">
        <input type="submit" value="Issued">
     </form>
     <div class="critic"><span><i class="fa-regular fa-comment"></i></span><a href="/critic-Book">Critics</a></div>
  </div>
  <div class="preview">
     <div class="previewheader">
        <ul>
           <li><a href="/previewBook">Preview</a></li>
           <li><a href="/criticBook">Critics</a></li>
        </ul>
     </div>
     <div class="preview-details">
        <div class="edition"><em>An edition of Batman (<span>1982</span>)</em></div>
        <div class="detail-title">Batman : The Dark Knight</div>
        <div class="detail-author">By <span>Huge Jackman</span></div>
        <div class="detail-info">
            <div class="like"><span>0</span> Likes 	&#8226;</div>
            <div class="read"><span>0</span> Read</div>
        </div>
        <div class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Illo a porro officiis dicta obcaecati aliquam reiciendis ea,
          id, repellendus incidunt voluptas! Repellendus doloremque placeat
          debitis accusantium rerum doloribus ullam cum!
        </div>
        <div class="detail-book-publish">
           <div class="publish">
              <div class="title">Publish Date</div>
              <div class="date">May 1, 1983</div>
           </div>
           <div class="editor">
             <div class="title">Editor</div>
             <div class="editor-name">Harlequin, Harlequin</div>
           </div>
           <div class="langage">
             <div class="title">Langage</div>
             <div class="langage-write">English</div>
           </div>
        </div>
        <div class="genre">Genre : <span>Fiction</span></div>
     </div>
  </div>
</section>
</body>
</html>