<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/sidebar.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/style/previewBook.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div>
      <img src="/images/boy.png" alt="">
      <div class="username">Mouslim Ombadi</div>
    </div>
  </header>
  <main>
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username">Mouslim Ombadi</div>
      </div>
      <div class="navbar">
         <ul>
           <li><a href="/userDash"><i class="fa-solid fa-house"></i>Dashboard</a></li>
           <li><a href="/userIssued"><i class="fa-solid fa-folder-open"></i>Issue Books</a></li>
           <li><a href="/userBooks"><i class="fa-solid fa-book-bookmark"></i>Books</a></li>
           <li><a href="/userUpdate"><i class="fa-solid fa-pen-to-square"></i></i>Update Details</a></li>
           <li><a href="/userChange"><i class="fa-solid fa-lock"></i>Change Password </a></li>
           <li><a href="/userRule"><i class="fa-solid fa-person-chalkboard"></i>Rules</a></li>
           <li><a href="/"><i class="fa-solid fa-right-from-bracket"></i>Logout</a></li>
         </ul>
      </div>
    </div>
    
<section id="previewBook">
   <div class="issued-form">
      <div><img src="/books/batman.jpeg" alt=""></div>
      <form action="">
         <input type="submit" value="Issued">
      </form>
      <!-- <div class="critic"><span><i class="fa-regular fa-comment"></i></span><a href="/critic-Book">Critics</a></div> -->
   </div>
   <div class="preview">
      <div class="previewheader">
         <ul>
            <li><a href="/previewBook">Preview</a></li>
         </ul>
      </div>
      <div class="preview-details">
         <div class="edition"><em>An edition of Batman (<span>1982</span>)</em></div>
         <div class="detail-title">Batman : The Dark Knight</div>
         <div class="detail-author">By <span>Huge Jackman</span></div>
         <div class="detail-info">
             <div class="like"><span>0</span> Likes 	&#8226;</div>
             <div class="read"><span>0</span> Read</div>
         </div>
         <div class="description">
           Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Illo a porro officiis dicta obcaecati aliquam reiciendis ea,
           id, repellendus incidunt voluptas! Repellendus doloremque placeat
           debitis accusantium rerum doloribus ullam cum!
         </div>
         <div class="detail-book-publish">
            <div class="publish">
               <div class="title">Publish Date</div>
               <div class="date">May 1, 1983</div>
            </div>
            <div class="editor">
              <div class="title">Editor</div>
              <div class="editor-name">Harlequin, Harlequin</div>
            </div>
            <div class="langage">
              <div class="title">Langage</div>
              <div class="langage-write">English</div>
            </div>
         </div>
         <div class="genre">Genre : <span>Fiction</span></div>
      </div>
   </div>
 </section>
  </main>
  
</body>
</html>