<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="/style/sidebar.css">
  <link rel="stylesheet" href="/style/regStudent.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div>
      <img src="/images/boy.png" alt="">
      <div class="username">Mouslim Ombadi</div>
    </div>
  </header>
  <main>
    
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username">Mouslim Ombadi</div>
      </div>
      <div class="navbar">
         <ul>
          <li><a href="/adminDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
          <li><a href="/adminCategory"><i class="fa-solid fa-folder-open"></i><span>Category</span></a></li>
          <li><a href="/adminAuthor"><i class="fa-solid fa-book-bookmark"></i><span>Author</span></a></li>
          <li><a href="/adminIssued"><i class="fa-solid fa-pen-to-square"></i></i><span>Issued Books</span></a></li>
          <li><a href="/adminViewBook"><i class="fa-solid fa-lock"></i><span>View Books</span></a></li>
          <li><a href="/adminBooks"><i class="fa-solid fa-lock"></i><span>Add Books</span></a></li>
          <li><a href="/regStudent"><i class="fa-solid fa-person-chalkboard"></i><span>Students</span></a></li>
          <li><a href="/adminChange"><i class="fa-solid fa-lock"></i><span>Change Password</span></a></li>
          <li><a href="/"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
         </ul>
      </div>
    </div>
    
 <section id="regStudent">
  <div class="title">View Student</div>
  
     <table>
       <tr>
         <th style="width: 20%;">Student List</th>
         <th>Student Information</th>
       </tr>
       <tr>
         <td style="vertical-align: top;">
          <form action="">
            <input type="text" placeholder="Search" id="search">
          </form>
          <div class="wrap-student" style="overflow-y: auto;">
              <div class="wrap">
                <div class="icon"><img src="/images/boy.png" alt=""></div>
                <div class="fullname">Mouslim Ombadi</div>
              </div>
              <div class="wrap">
                <div class="icon"><img src="/images/boy.png" alt=""></div>
                <div class="fullname">Mouslim Ombadi</div>
              </div>
              <div class="wrap">
                <div class="icon"><img src="/images/boy.png" alt=""></div>
                <div class="fullname">Mouslim Ombadi</div>
              </div>
              <div class="wrap">
                <div class="icon"><img src="/images/boy.png" alt=""></div>
                <div class="fullname">Mouslim Ombadi</div>
              </div>
              <div class="wrap">
                <div class="icon"><img src="/images/boy.png" alt=""></div>
                <div class="fullname">Mouslim Ombadi</div>
              </div>
              <div class="wrap">
                <div class="icon"><img src="/images/boy.png" alt=""></div>
                <div class="fullname">Mouslim Ombadi</div>
              </div>
              
          </div>  
         </td>
         <td style="vertical-align: top;">
           <div class="above-section">
              <div class="student-profile">
                <img src="/images/boy.png" alt="">
              </div>
              <div class="student-info">
                <div class="student-ID">ID : <span>256987</span></div>
                 <div class="student-name">Full Name : <span>Mouslim Ombadi</span></div>
                 <div class="student-email">Email : <span>mouslimombadi@gmail.com</span></div>
                 <div class="student-address">Address : <span>Hay Riad</span></div>
                 <div class="student-phone">Phone : <span>0700981188</span></div>
              </div>
           </div>
           <div class="below-section">
              <div class="issue-book">Issue Book</div>
              <div class="table-issue">
                  <table>
                    <tr>
                      <th>Book ID</th>
                      <th>Book Title</th>
                      <th>Issue Date</th>
                      <th>Due Date</th>
                    </tr>
                    <tr>
                      <td>2567pzlk</td>
                      <td>Batman</td>
                      <td>31-12-2024</td>
                      <td>07-01-2025</td>
                    </tr>
                    <tr>
                      <td>2567pzlk</td>
                      <td>Batman</td>
                      <td>31-12-2024</td>
                      <td>07-01-2025</td>
                    </tr>
                    <tr>
                      <td>2567pzlk</td>
                      <td>Batman</td>
                      <td>31-12-2024</td>
                      <td>07-01-2025</td>
                    </tr>
                    
                  </table>
              </div>
           </div>
         </td>

       </tr>
     </table>
  
</section>
  </main>
  
</body>
</html>