<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/sidebar.css">
  <link rel="stylesheet" href="/style/userRequest.css">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div>
      <img src="/images/boy.png" alt="">
      <div class="username">Mouslim Ombadi</div>
    </div>
  </header>
  <main>
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="/images/boy.png" alt="">
        <div class="username">Mouslim Ombadi</div>
      </div>
      <div class="navbar">
         <ul>
           <li><a href="/userDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
           <li><a href="/userIssued"><i class="fa-solid fa-folder-open"></i><span>Issue Books</span></a></li>
           <li><a href="/userBooks"><i class="fa-solid fa-book-bookmark"></i><span>Books</span></a></li>
           <li><a href="/userUpdate"><i class="fa-solid fa-pen-to-square"></i><span>Update Details</span></a></li>
           <li><a href="/userChange"><i class="fa-solid fa-lock"></i><span>Change Password</span> </a></li>
           <li><a href="/userRequest"><i class="fa-solid fa-bars-staggered"></i><span>Submit Book Request</span> </a></li>
           <li><a href="/userRule"><i class="fa-solid fa-person-chalkboard"></i><span>Rules</span></a></li>
           <li><a href="/"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
         </ul>
      </div>
    </div>
    <section id="userRequest">
      <div class="request-title">USER REQUEST</div>
      <div class="main-request">
          <div class="main-form">
              <form action="">
                <div class="title-input">
                  <label for="book-title">Book Title * </label>
                  <input type="text" placeholder="Full Book Title" required> <br>
                </div>
                <div class="note-input">
                  <label for="note">Note * </label>
                  <textarea name="note" id="note" rows="5" cols="95" placeholder="Why you required this book? A small note is required" required></textarea> <br>  
                </div>
                <div class="sbt-request">
                  <input type="submit" value="Submit">
                </div>
                
              </form>
          </div>
          <div class="view-request">
            <table>
              <tr>
                <th>Book Title</th>
                <th>Book Desc</th>
                <th>Student Name</th>
                <th>Added On</th>
                <th>Action</th>
              </tr>
              <tr>
                <td>Spiderman</td>
                <td>The small spider of the square come to save his city from Dr Octopus</td>
                <td>Kevin Jamirez</td>
                <td>2024-11-18</td>
                <td><i class="fa-regular fa-trash-can"></i></td>
              </tr>
              <tr>
                <td>Spiderman</td>
                <td>The small spider of the square come to save his city from Dr Octopus</td>
                <td>Kevin Jamirez</td>
                <td>2024-11-18</td>
                <td><i class="fa-regular fa-trash-can"></i></td>
              </tr>
              <tr>
                <td>Spiderman</td>
                <td>The small spider of the square come to save his city from Dr Octopus</td>
                <td>Kevin Jamirez</td>
                <td>2024-11-18</td>
                <td><i class="fa-regular fa-trash-can"></i></td>
              </tr>
            </table>
          </div>
      </div>
   </section>
  </main>
  
</body>
</html>