<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Rule</title>
  <link rel="stylesheet" href="/style/userRule.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
  <!-- this is the header -->
   <%- include('headeDash') %>
  <!-- This is the section page -->
   <section id="userRule">
      <div class="rule-title">USER RULE</div>
      <div class="main-rule">
          <h1><i class="fa-solid fa-book-bookmark"></i> Library</h1>
          <div class="rules">
             <div>1. Members must register to borrow books and access certain resources.</div>
             <div>2. Members can reserve books that are currently borrowed by others.</div>
             <div>3. Members can borrow a limited number of books at a time.</div>
             <div>4. Books have fixed loan periods.</div>
             <div>5. Accounts may be temporarily suspended if there are outstanding fines or unreturned books.</div>
          </div>
      </div>
   </section>
</body>
</html>