<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIDEBAR HEADER</title>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/style/sidebar.css">
  <link rel="stylesheet" href="/style/userIssued.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <!-- jQuery Modal -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" /> -->
</head>
<body>
  <header>
    <div class="project">
      <span class="book-icon"><i class="fa-solid fa-book"></i></span>
      <span class="name-project">E-Library</span>
    </div>
    <div class="right-header">
      <!-- <div><i class="fa-regular fa-bell"></i><span class="notif">0</span></div> -->
      <img src="<%= student.avatar %>" alt="">
      <div class="username"><%= student.name %></div>
    </div>
  </header>
  <main>
    <div class="sidebar">
      <div class="sidebar-profile">
        <img src="<%= student.avatar %>" alt="">
        <div class="username"><%= student.name %></div>
      </div>
      <div class="navbar">
        <ul>
          <li><a href="/userDash"><i class="fa-solid fa-house"></i><span>Dashboard</span></a></li>
          <li><a href="/userIssued"><i class="fa-solid fa-folder-open"></i><span>Issue Books</span></a></li>
          <li><a href="/userBooks"><i class="fa-solid fa-book-bookmark"></i><span>Books</span></a></li>
          <li><a href="/userUpdate"><i class="fa-solid fa-pen-to-square"></i><span>Update Details</span></a></li>
          <li><a href="/userChange"><i class="fa-solid fa-lock"></i><span>Change Password</span> </a></li>
          <li><a href="/userRequest"><i class="fa-solid fa-bars-staggered"></i><span>Submit Book Request</span> </a></li>
          <li><a href="/userRule"><i class="fa-solid fa-person-chalkboard"></i><span>Rules</span></a></li>
          <li><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i><span>Logout</span></a></li>
        </ul>
      </div>
    </div>
    
 <!-- This is the main section -->
  <section id="issuedBooks">
    <div class="issued-title">ISSUED BOOKS</div>
        
    <table>
      <tr>
        <th>Book ID</th>
        <th>Book Title</th>
        <th>Author</th>
        <th>Issue Date</th>
        <th>Due Date</th>
        <th>Action</th>
      </tr>
      
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td><a href="#ex1" class="open-modal btn-open" >Return</a></td>
      </tr>
    </table>   
    

    <!-- This is the return user form modal -->
  <div class="modal hidden">
    <div class="flex">
       <h2>Are you sure to return this book?</h2>
       <button class="btn-close">&times;</button>
    </div>
    <div>Book ID : <strong>2563plkm</strong></div>
    <div>Book Title : <strong>Batman</strong></div>
    <div>Book Author : <strong>Huge Jackman</strong></div>
    <form action="">
      <input type="submit" value="Return">
    </form>
  </div>
  <div class="overlay hidden"></div>
  </main>

  <script>
    $(document).ready(() => {
     
     const modal = $('.modal')
     const overlay = $('.overlay')
     const openModalBtn = $('.btn-open')
     const closeModalBtn = $('.btn-close')

     const openModal = function(){
       modal.removeClass('hidden')
       overlay.removeClass('hidden')
     }

     openModalBtn.on('click', openModal)

     const closeModal = function(){
       modal.addClass('hidden')
       overlay.addClass('hidden')
     }

     closeModalBtn.on('click', closeModal)

     
    });
 </script>
  
<!-- <script>
  $(document).ready(function() {
  $('.open-modal').on('click', function() {
    // Retrieve the data attributes for title and content
    var title = $(this).data('title');
    var content = $(this).data('content');
    
    // Set the modal title and content
    $('#dynamicModalTitle').text(title);
    $('#dynamicModalContent').html('Outlander<br>ID');
    
    // Show the modal
    $('#dynamicModal').modal('show');
  });
});
</script> -->
</body>
</html>