<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Book Page</title>
  <link rel="stylesheet" href="/style/userBook.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
</head>
<body>
  <!-- This is the header section -->
  <header>
    <div class="logo"><span>B</span><img src="/images/book-eyes.png"><span>K</span></div>
    <div class="back-btn"><a href="/userDash">BACK</a></div>
  </header>
   
   <section id="userBook">
      <div class="left-section">
         <form action="">
           <label for="writer">Writer</label> <br>
           <input type="text" placeholder="Eman Saber" id="writer"> <br>
           <label for="Year">Year</label> <br>
           <input type="text" placeholder="2024" id="year"> <br>
           <label for="Category">Categories</label> <br>
           <select name="" id="category" aria-placeholder="Fantasy">
             <option value="Techology">Technology</option>
             <option value="Fiction">Fiction</option>
             <option value="Science">Science</option>
             <option value="Fantasy">Fantasy</option>
             <option value="Religion">Religion</option>
           </select> <br>
           <div class="sbt-btn">
              <input type="submit" value="Search" id="search">
           </div>
         </form>
      </div>
      <div class="right-section">
        <div class="grid-book">
           <a href="/previewBook" class="book">
             <img src="/books/batman.jpeg" alt="">
             <div class="book-name">Batman</div>
             <div class="book-author">Alice Oceman</div>
             <div class="book-like"><i class="fa-solid fa-heart heart"></i></div>
             <div class="plus"><i class="fa-solid fa-circle-plus"></i></div>
           </a>
           <a href="/previewBook" class="book">
            <img src="/books/law.jpeg" alt="">
            <div class="book-name">Batman</div>
            <div class="book-author">Alice Oceman</div>
            <div class="book-like"><i class="fa-solid fa-heart heart"></i></div>
            <div class="plus"><i class="fa-solid fa-circle-plus"></i></div>
           </a>
          <a href="/previewBook" class="book">
            <img src="/books/fault-stairs.jpeg" alt="">
            <div class="book-name">Batman</div>
            <div class="book-author">Alice Oceman</div>
            <div class="book-like"><i class="fa-solid fa-heart heart"></i></div>
            <div class="plus"><i class="fa-solid fa-circle-plus"></i></div>
          </a>
          <a href="/previewBook" class="book">
            <img src="/books/house.jpeg" alt="">
            <div class="book-name">Batman</div>
            <div class="book-author">Alice Oceman</div>
            <div class="book-like"><i class="fa-solid fa-heart heart"></i></div>
            <div class="plus"><i class="fa-solid fa-circle-plus"></i></div>
          </a>
          <a href="/previewBook" class="book">
            <img src="/books/sherlock.jpg" alt="">
            <div class="book-name">Batman</div>
            <div class="book-author">Alice Oceman</div>
            <div class="book-like"><i class="fa-solid fa-heart heart"></i></div>
            <div class="plus"><i class="fa-solid fa-circle-plus"></i></div>
          </a>
          <a href="/previewBook" class="book">
            <img src="/books/stephen.jpeg" alt="">
            <div class="book-name">Batman</div>
            <div class="book-author">Alice Oceman</div>
            <div class="book-like"><i class="fa-solid fa-heart heart"></i></div>
            <div class="plus"><i class="fa-solid fa-circle-plus"></i></div>
          </a>
        </div>
      </div>
   </section>
</body>
</html>